In [25]:
import pandas

In [29]:
import os
os.listdir()

['.ipynb_checkpoints',
 'cor.txt',
 'Geo-coding.ipynb',
 'Indexing and Slicing.ipynb',
 'newgreyimg.png',
 'NumpyTut.ipynb',
 'panda1.py',
 'Reading data files.ipynb',
 'Sample.csv',
 'smallgray.png',
 'supermarkets.csv',
 'supermarkets.json',
 'Untitled.ipynb',
 'Updating and Adding columns.ipynb']

In [62]:
df=pandas.read_csv('cor.txt',sep=';')
df

        lat       long         info
0  8.852929  76.924128       Kuvedi
1  8.853098  76.925104  Two Wheeler
2  8.851921  76.922809       Temple

In [82]:
[df.lat + df.long]

[0    85.777057
 1    85.778202
 2    85.774730
 dtype: float64]

In [91]:
list(df['lat'])

[8.852929, 8.853098, 8.851921]

In [92]:
l=lambda x: x**2
l(2)

4